{% extends 'users/base.html' %}

{% block heading %}
Pay for {{ item.name }}
{% endblock %}

{% block form %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="addr">Address: </label>
        <input class="form-control" name="addr">
        <label for="">Pay Ammount: </label>
        <input
          type="number"
          class="form-control"
          value="{{ item.current_bid }}"
          readonly
        />
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Pay</button>
    </div>
</form>


{% endblock %}